@*
*@
@{
}
<div>
    <a style="color:#ededed" asp-controller="Home" asp-action="Index">
        <i class="fa fa-arrow-left"></i> Back
    </a>
</div>
<hr />
<p style="color:#ededed" class="display-3">Exception Caught!</p>
<h3 style="color:#ededed" class="display-4">@ViewBag.Emessage</h3>