@model HRM_Project.Models.EmployeesList

<h3 style="color:#efefef">Are you sure you want to fire?</h3>
<div>
    
    <dl class="row">
        <dt style="color:#efefef" class="col-sm-2">
            Employee ID:
            @Html.DisplayFor(model => model.EmployeeId)
        </dt>
        <dt style="color:#efefef" class="col-sm-2">
            Employee Name:
            @Html.DisplayFor(model => model.EmployeeName)
        </dt>
    </dl>
    
    <form asp-action="fireEmployee">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="submit" value="Confirm" class="btn btn-danger" />
    </form>
    
</div>
