@model HRM_Project.Models.EmployeesList

<div class="row">
    <div class="col-md-4">
        <form asp-action="incrementSalary">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" />
            <div class="form-group">
                <label style="color:#efefef" class="control-label">Enter final CTC</label>
                <input type="number"  required asp-for="EmployeeSalary" class="form-control" />
                <span asp-validation-for="EmployeeSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
